<div ng-include src="'frontend/templates/tpl/header.html'" ng-controller="HeaderController"></div>
<div class="container"> 
    <div class="row"> 
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-note"></i> SLA 
                    </div> 
                </div>
                <div class="portlet-body">

                    <div class="col-md-offset-2 col-md-10 text-center" style="padding: 0!important">
                        <div class="col-md-4" style="padding-left: 0!important">
                            <div class="panel panel-default">
                                <div class="panel-heading">Total Time</div>
                                <div class="panel-body"> {{total_time}} </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"> Emails </div>
                                <div class="panel-body"> {{total_emails}} </div>
                            </div>
                        </div>

                        <div class="col-md-4" style="padding-right: 0!important">
                            <div class="panel panel-default">
                                <div class="panel-heading"> Average Time </div>
                                <div class="panel-body"> {{average_time}} </div>
                            </div>
                        </div>
                    </div>
                    

                    <form id="form" class="portlet-body form" ng-submit="getSLA()">
                        <div class="form-horizontal" role="form">
                            <div class="form-body">   
                                <div class="form-group">
                                    <label class="col-md-2 control-label">From:</label>
                                    <div class="col-md-10"> 
                                        <input id="input_range" type="text" class="form-control" name="from_date" readonly data-date-format="yyyy-mm-dd" ng-model="from_date"> 
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Project:</label>
                                    <div class="col-md-10"> 
                                        <select class="form-control" ng-model="defaultProject" id="project" name="project" ng-change="changeCountry(defaultProject)">
                                            <option value="">Select an option</option>
                                            <option ng-repeat="project in projects track by $index" ng-value="project.id">{{project.name}}</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Country:</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="defaultCountry" id="country"  name="country"
                                            >
                                            <option value="">Select an option</option>
                                            <option 
                                                ng-repeat="country in countries track by $index" 
                                                ng-value="country.name"
                                                ng-click="getCountryByID(country.name)">
                                                {{country.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Agent:</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="defaultUser" id="user"  name="user">
                                            <option value="">Select an option</option>
                                            <option 
                                                ng-repeat="user in users track by $index" 
                                                ng-value="user.id"
                                                ng-click="getUserID(user.id)">
                                                {{user.username}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-default input-medium">
                                                <span ng-if="!loading">Get SLA</span> 
                                                <span ng-if="loading">Loading...  <span aria-hidden="true" class="icon-hourglass"></span></span>
                                            </button> 
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
 
    </div>
    
</div>