<div ng-include src="'frontend/templates/tpl/header.html'" ng-controller="HeaderController"></div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New country details:</h4> 
      </div>
      <div class="modal-body">
        <form id="form" class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">   
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country name:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" ng-model="name"> 
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="col-md-3 control-label">Add country to Project:</label>
                        <div class="col-md-9">
                            <div class="checkbox-list">
                                <label ng-repeat="project in projects track by $index">
                                    <div class="checker">
                                        <span class="">
                                            <input type="checkbox" prj_name="{{project.name}}" ng-value="project.id" ckr>
                                        </span>
                                    </div> 
                                    {{project.name}} 
                                </label> 
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
            type="button" 
            class="btn btn-default" 
            ng-click="saveChanges(name,projectList)">
            Save changes
        </button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New country details:</h4> 
      </div>
      <div class="modal-body">
        <form id="form2" class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">   
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country name:</label>
                        <div class="col-md-9"> 
                            <select class="form-control" ng-model="defaultCon" id="con" name="con" ng-change="changeCon(defaultCon)">
                                <option value="">Select an option</option>
                                <option ng-repeat="con in countries_simple track by $index" ng-value="con.id">{{con.name}}</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">Rename country :</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="edit_name" ng-model="edit_name" ng-disabled="edit_c_name"> 
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="col-md-3 control-label">Add country to Project:</label>
                        <div class="col-md-9">
                            <div class="checkbox-list">
                                <label ng-repeat="project in projects track by $index">
                                    <div class="checker">
                                        <span class="">
                                            <input type="checkbox" id="{{project.name.replace(' ', '')}}" prj_name="{{project.name.replace(' ', '')}}" ng-value="project.id" disabled ckr2>
                                        </span>
                                    </div> 
                                    {{project.name}} 
                                </label> 
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
            type="button" 
            class="btn btn-default" 
            ng-click="saveEditChanges(edit_name, defaultCon, editProjectList)">
            Save changes
        </button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete country:</h4> 
      </div>
      <div class="modal-body">
        <form id="form3" class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">   
                    <div class="form-group">
                        <label class="col-md-3 control-label">Country:</label>
                        <div class="col-md-9"> 
                            <select class="form-control" ng-model="deleleCountry" id="deleleCountry" ng-change="deleteCon(deleleCountry)">
                                <option value="">Select an option</option>
                                <option ng-repeat="cont in cc track by $index" ng-value="cont.id">{{cont.name}}</option>
                            </select>
                        </div>
                    </div>  
                </div> 
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
            type="button" 
            class="btn btn-default" 
            ng-click="submitDelete(deleleCountry)">
            Delete
        </button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<div class="container"> 
    <div class="row"> 
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-globe-alt"></i> Admin - Countrys
                    </div> 

                    <button type="button" class="btn btn-default pull-right" ng-click="modal_open()">
                        Add new country
                    </button>

                    <button type="button" class="btn btn-default pull-right" ng-click="modal_open2()"  style="margin-right: 10px">
                        Edit country
                    </button>

                    <button type="button" class="btn btn-default pull-right" ng-click="modal_open3()"  style="margin-right: 10px">
                        Remove country
                    </button> 
                </div>
                <div class="portlet-body"> 
                    <table class="table table-bordered" id="users">
                        <thead> 
                          <tr>
                            <th style="width: 5%">ID</th> 
                            <th style="width: 35%">Country Name</th>
                            <th style="width: 35%">Project joined</th>
                            <th style="width: 25%">Actions</th> 
                         </tr>    
                        </thead> 
                        <tbody>
                            <tr ng-repeat="country in countries track by $index">
                                <td>{{country.id}}</td>
                                <td>{{country.countryName}}</td>
                                <td>{{country.projectName}}</td>
                                <td><button class="btn btn-default" ng-click="remove(country.id)" style="width: 100%">Remove connection</button></td>
                            </tr>
                        </tbody>
                   </table> 

                </div>
            </div>
        </div>
 
    </div>
    
</div>