<div ng-include src="'frontend/templates/tpl/header.html'" ng-controller="HeaderController"></div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit <span class="bold">{{group}}</span>:</h4>
      </div>
      <div class="modal-body">
        <form id="form" class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">   
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="name" ng-model="name"> 
                        </div>
                    </div> 
                </div> 
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="edit_changes(id,name)">Submit changes</button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 


<div id="addGroup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add role:</h4>
      </div>
      <div class="modal-body">
        <form id="form" class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">   
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="insert_group" ng-model="insert_group"> 
                        </div>
                    </div> 
                </div> 
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="insert_group_btn(insert_group)">Add new role</button> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 

<div class="container"> 
    <div class="row"> 
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-grid"></i> Admin -  Groups 
                    </div>  
                    <!-- <button type="button" class="btn default pull-right" ng-click="add_group()">
                        <img src="frontend\assets\layouts\layout3\img\add.png"> Add group
                    </button> -->
                </div> 
                <div class="portlet-body"> 
                    <table class="table table-bordered" id="getData">
                        <thead> 
                            <tr>
                                <th style="width: 5%">Id</th> 
                                <th style="width: 95%">Name</th>
                                <!-- <th>Actions</th> -->
                             </tr>    
                        </thead>
                        <tbody>
                            <tr ng-repeat="group in groups track by $index">
                                <td style="width: 5%">{{group.id}}</td>
                                <td style="width: 95%">{{group.name}}</td>
                                <!-- <td style="width: 25%">
                                    <button class="btn half_btn" ng-click="delete(group.id)">Delete</button>
                                    <button class="btn half_btn" ng-click="edit(group.id)">Edit</button>
                                </td> -->
                            </tr>
                    </table> 
                </div>
            </div>
        </div> 
    </div> 
</div>