<div ng-include src="'frontend/templates/tpl/header.html'" ng-controller="HeaderController"></div>

<div class="container dashboard"> 
    <div class="row">    
        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-paper-plane font-yellow-casablanca"></i> 
                        Comparison API 
                    </div> 
                </div>
                <div class="portlet-body"> 
                   <iframe id="frame" src="" frameborder="0" allowfullscreen></iframe>
                </div> 
            </div>
        </div> 

        <div class="col-md-4">
			<div class="portlet light">
				<div class="portlet-title">
			        <div class="caption">
			            <i class="icon-paper-plane font-yellow-casablanca"></i> 
			            Compare custom files
			        </div> 
			    </div>
			    <div class="portlet-body"> 
			    	<div class="form-wrapper login-page"> 
						<div> 
							<div id="actions-wrp">
								<div>
									<!-- <input type = "file" file-model = "myFile"/> -->  
									<h3>FILE 1</h3>
									<div class="input-group">
						                <label class="input-group-btn">
						                    <span class="btn btn-primary">
						                        Browse&hellip; <input type = "file" file-model = "readFileOne" style="display: none;" multiple>
						                    </span>
						                </label>
						                <input type="text" class="form-control" readonly>
						            </div> 
								</div>
								
								<div>
									<h3>FILE 2</h3>
									<div class="input-group">
						                <label class="input-group-btn">
						                    <span class="btn btn-primary">
						                        Browse&hellip; <input type = "file" file-model = "readFileTwo" style="display: none;" multiple>
						                    </span>
						                </label>
						                <input type="text" class="form-control" readonly>
						            </div> 
					        		
								</div>
								<div>
									<button class="btn btn-block btn-default" ng-click = "uploadFile('compareTwoFiles')">Compare Files</button>
								</div>
					    	</div>
					        
						</div>  
					</div> 
			    </div>
			</div>
	 
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-paper-plane font-yellow-casablanca"></i> 
                        All files ( {{getAllDocuments.length}} )
                    </div> 
                </div>
                <div class="portlet-body">
                     <ul class="file-list">
                     	<li ng-repeat="doc in getAllDocuments" ckrpr >{{doc.title}} </li>
                     </ul>
                     <button class="btn btn-block hide" id="cc" ng-click="compareLocal()">Compare</button>
                </div> 
            </div>
        </div> 
  
 	</div>
</div>